html,
body {
    height: 100%;
    background-color: #f5f5f5;
}

/*footer {*/
/*position: fixed;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*}*/

.table-actions {
    width: 20px;
}

.btn.active {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn-primary.active {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-danger.active {
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-success.active {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

form .form-control:valid, form .form-control:invalid {
    background: no-repeat right 6px top 6px;
    background-size: calc(1.5em + .75rem + 2px - 2 * .375rem - 1px);
    padding-right: 36px;
}

form .form-control:valid {
    background-image: url("/static/valid.svg");
}

form .form-control:invalid {
    background-image: url("/static/invalid.svg");
}

form .form-control.no-check {
    background: inherit;
    padding-right: 6px;
}


select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}