{% include "header.html" %}

<nav aria-label="breadcrumb" class="m-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url "ui_index" %}">Startseite</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="{% url "ui_items" %}">Personen</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ person.name }}</li>
    </ol>
</nav>

<h1 class="display-5 m-1">{{ person.name }}
    <span class="text-muted">#{{ person.id }}</span>
</h1>

{% include "parts/msg.html" %}


<div class="row">
    <div class="col-sm">
        <div class="card mb-2">
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Aktionen">
                    {% if perms.api.change_person %}
                        <a role="button" class="btn btn-primary"
                           href="{% url "ui_persons_edit" person.id %}">Bearbeiten
                        </a>
                    {% endif %}
                    {% if perms.api.delete_person %}
                        <a role="button" class="btn btn-danger delete-button"
                           href="{% url "ui_person_delete" person.id %}">Löschen
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3"><strong>E-Mail</strong> <i class="text-muted">(optional)</i></div>
                            <div class="col-sm-9">
                                {% if person.email %}
                                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3"><strong>Status</strong></div>
                            <div class="col-sm-9">
                                {% include "ui/person/status.html" %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3"><strong>Notizen</strong> <i class="text-muted">(optional)</i></div>
                            <div class="col-sm-9">{{ person.notes|linebreaksbr }}</div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <a role="button" class="btn btn-primary" href="{% url "ui_persons" %}">Zurück zur Übersicht</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-2">
            <div class="card-body">
                <h5>Check-Outs</h5>
                <ul class="list-group">
                    {% for check in person.check_outs.all %}
                        <li class="list-group-item">
                            <a href="{% url "ui_checks_view" check.id %}">
                                #{{ check.id }} ({{ check.checked_out_at }})
                            </a>
                            <button class="btn btn-outline-success btn-sm float-right">
                                Anzeigen
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <h5>Ausgecheckte Objekte</h5>
                <ul class="list-group">
                    {% for object in person.get_checks %}
                        {% if not object.checked_in %}
                            <li class="list-group-item">
                                <a href="{% url "ui_items_view" object.item.id %}">
                                    {{ object.item.name }}
                                    {% if object.item.preset %}
                                        ({{ object.item.preset.name }})
                                    {% endif %}
                                </a>
                                <span class="float-right">
                                    <form action="{% url "ui_check_in" %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="scan" value="{{ object.item.id }}">
                                        <button class="btn btn-outline-success btn-sm" type="submit">
                                            <i class="fas fa-undo mr-2"></i>
                                            Check-In
                                        </button>
                                    </form>
                                </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% include "parts/table_js.html" %}
{% include "footer.html" %}