{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <nav aria-label="breadcrumb" class="m-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "ui_index" %}">Startseite</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url "ui_categories" %}">Kategorien</a>
            </li>
            {% if mode == "edit" %}
                <li class="breadcrumb-item active" aria-current="page">„{{ category.name }}“</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Neue Kategorie erstellen</li>
            {% endif %}
        </ol>
    </nav>

    <h1 class="display-5 m-1">
        {% if mode == "edit" %}
            Kategorie bearbeiten
        {% else %}
            Neue Kategorie erstellen
        {% endif %}
    </h1>

    <div class="card">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|bootstrap }}

                <button type="submit" class="btn btn-success">Speichern</button>
                <a role="button" class="btn btn-danger" href="{% url "ui_categories" %}">Abbrechen</a>
            </form>
        </div>
    </div>
{% endblock %}