{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "@fortawesome/fontawesome-free/css/all.min.css" %}"/>
    <link rel="stylesheet" href="{% static "datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}"/>
    <link rel="stylesheet" href="{% static "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" %}"/>

    <link rel="stylesheet" href="{% static "style.css" %}">

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script>
        function focusIt(input) {
            input[0].selectionStart = input[0].selectionEnd = 0;
        }

    </script>
    <title>{% trans "TInventory" %}</title>

    {% block extra_head %}{% endblock %}
</head>
<body>
{% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{% url "ui_index" %}"><i
                    class="fas fa-search-location"></i> {% trans "TInventory" %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_index" %}">{% trans "Home" %}</a>
                    </li>
                    {% if perms.api.view_category %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_categories" %}">{% trans "Categories" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_location %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_locations" %}">{% trans "Locations" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_preset %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_presets" %}">{% trans "Presets" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_item %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_items" %}">{% trans "Items" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_item %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_inventory" %}">{% trans "Inventory" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_person %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_persons" %}">{% trans "Persons" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.check_out %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_check_out" %}">{% trans "Check out" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.check_in %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_check_in" %}">{% trans "Check in" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.api.check_out %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_checks" %}">{% trans "Checks" %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_excuse" %}">{% trans "Excuse form" %}</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "admin:index" %}">{% trans "Administration" %}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav align-right">
                    <li class="navbar-text">
                        {% blocktrans with user=user %}Logged in as {{ user }}{% endblocktrans %}
                    </li>
                    <li>
                        <a class="nav-link" href="{% url "logout" %}">{% trans "Logout" %}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="p-1 mb-5">
        {% block content %}{% endblock %}
    </main>
{% else %}
    {% block content2 %}{% endblock %}
{% endif %}

<footer class="fixed-bottom p-3 text-muted bg-light">
    <div class="float-right">

        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <button value="{{ language.code }}"
                        name="language" type="submit"
                        class="btn btn-sm btn-outline-secondary {% if language.code == LANGUAGE_CODE %}active{% endif %}">
                    {{ language.name_local }}
                </button>
            {% endfor %}
        </form>
    </div>

    Copyright &copy; 2019–2020 Jonathan Weth, Lübeck. ·
    <a href="{% url "ui_license" %}">{% trans "Copyright, license and credits" %}</a>
</footer>

<script src="{% static "popper.js/dist/popper.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "bootstrap-datepicker/dist/locales/bootstrap-datepicker."|add:LANGUAGE_CODE|add:".min.js" %}"></script>
<script src="{% static "select2/dist/js/select2.min.js" %}"></script>
<script src="{% static "select2/dist/js/i18n/"|add:LANGUAGE_CODE|add:".js" %}"></script>
<script>
    $(".django-select2").attr("data-minimum-input-length", "0");
</script>
<script src="{% static "django_select2/django_select2.js" %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.datepicker-field').datepicker({
            language: '{{ LANGUAGE_CODE }}'
        });
        $(".django-select2").djangoSelect2({
            theme: "bootstrap4",
            minimumInputLength: 0,
        });
    })
</script>
</body>
</html>