{% load static %}
</main>
<footer class="fixed-bottom p-3 text-muted bg-light">
    <div class="float-right">
        {% load i18n %}

        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <button value="{{ language.code }}"
                        name="language" type="submit"
                        class="btn btn-sm btn-outline-secondary {% if language.code == LANGUAGE_CODE %}active{% endif %}">
                    {{ language.name_local }}
                </button>
            {% endfor %}
        </form>
    </div>

    Copyright &copy; 2019–2020 Jonathan Weth, Lübeck. ·
    <a href="{% url "ui_license" %}">Copyright, Lizenz und Credits</a>
</footer>

<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/datatables.min.js" %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>