{% load static %}

<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/fa.css" %}"/>
    <link rel="stylesheet" href="{% static "css/datatables.min.css" %}"/>
    <link rel="stylesheet" href="{% static "style.css" %}">

    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script>
        function focusIt(input) {
            input[0].selectionStart = input[0].selectionEnd = 0;
        }
    </script>
    <title>TInventory</title>
</head>
<body>
{% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{% url "ui_index" %}"><i class="fas fa-search-location"></i> TInventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_index" %}">Startseite</a>
                    </li>
                    {% if perms.api.view_category %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_categories" %}">Kategorien</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_location %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_locations" %}">Orte</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_preset %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_presets" %}">Presets</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_item %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_items" %}">Objekte</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_item %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_inventory" %}">Inventarisierung</a>
                        </li>
                    {% endif %}
                    {% if perms.api.view_person %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_persons" %}">Personen</a>
                        </li>
                    {% endif %}
                    {% if perms.api.check_out %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_check_out" %}">Check-Out</a>
                        </li>
                    {% endif %}
                    {% if perms.api.check_in %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_check_in" %}">Check-In</a>
                        </li>
                    {% endif %}
                    {% if perms.api.check_out %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "ui_checks" %}">Checks</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "admin:index" %}">Administration</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav align-right">
                    <li class="navbar-text">
                        Angemeldet als {{ user }}
                    </li>
                    <li>
                        <a class="nav-link" href="{% url "logout" %}">Abmelden</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="p-1 mb-5">
{% endif %}

