{% extends "base.html" %}

{% block content %}
    <nav aria-label="breadcrumb" class="m-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "ui_index" %}">Startseite</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Objekte</li>
        </ol>
    </nav>

    <h1 class="display-5 m-1">Objekte</h1>

    {% include "parts/msg.html" %}

    {% if perms.api.add_item %}
        <div class="card mb-2">
            <div class="card-body">
                <a role="button" class="btn btn-success" href="{% url "ui_item_new" %}">
                    <i class="fas fa-plus mr-2"></i>
                    Neues Objekt erstellen
                </a>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID (Barcode)</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col">Preset <em class="text-muted">(optional)</em></th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="table-actions">Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for item in item_list %}
                    <tr>
                        <th scope="row">{{ item.id }} (<code>{{ item.barcode }}</code>)</th>
                        <td>
                            <a href="{% url "ui_categories_edit" item.category.pk %}">{{ item.category }}</a>
                        </td>
                        <td>
                            {% if item.preset %}
                                <a href="{% url "ui_presets_view" item.preset.id %}">{{ item.preset }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url "ui_items_view"  item.id %}">{{ item.name }}</a>
                        </td>
                        <td>
                            {% include "ui/item/status.html" %}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Aktionen">
                                <a role="button" class="btn btn-success"
                                   href="{% url "ui_items_view" item.id %}">Anzeigen
                                </a>
                                <a role="button" class="btn btn-secondary"
                                   href="{% url "ui_item_barcode" item.id %}" target="_blank"><i
                                        class="fa fa-barcode"></i>
                                </a>
                                {% if perms.api.change_item %}
                                    <a role="button" class="btn btn-primary"
                                       href="{% url "ui_items_edit" item.id %}">Bearbeiten
                                    </a>
                                {% endif %}
                                {% if perms.api.delete_item %}
                                    <a role="button" class="btn btn-danger delete-button"
                                       href="{% url "ui_item_delete" item.id %}">Löschen
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "parts/table_js.html" %}
{% endblock %}