.navbar-brand, .navbar-brand:hover {
    color: #da1f3d;
}

.sidebar-dark {
    background-color: #282E3F
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    background-color: #282E3F
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active, .nav-left-sidebar .submenu {
    background-color: #da1f3d;

}

.nav-left-sidebar .nav-link, .nav-left-sidebar .nav-link i {
    color: #fff !important;
}

.footer {
    position: fixed;
    bottom: 0;
}

a:hover {
    color: #da1f3d !important;
}