{% load static %}

</div>
</div>
</div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                Copyright © 2019 by Byhnentechnik – Technik-AG am Katharineum zu Lübeck
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript: void(0);">Kontakt</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->

</div>
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="{% static "vendor/jquery/jquery-3.3.1.min.js" %}"></script>
<!-- bootstap bundle js -->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
<!-- slimscroll js -->
<script src="{% static "vendor/slimscroll/jquery.slimscroll.js" %}"></script>
<!-- main js -->
<script src="{% static "main-js.js" %}"></script>

</body>

</html>