{% load static %}

<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/fh-3.1.4/r-2.2.2/datatables.min.css"/>


    <link rel="stylesheet" href="{% static "style.css" %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <title>TInventory</title>
</head>
<body>
{% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><i class="fas fa-search-location"></i> TInventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_index" %}">Startseite</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_categories" %}">Kategorien</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_locations" %}">Orte</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ui_presets" %}">Presets</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/">Administration</a>
                    </li>
                    {#                    <li class="nav-item dropdown">#}
                    {#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                    {#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                    {#                            Dropdown#}
                    {#                        </a>#}
                    {#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                    {#                            <a class="dropdown-item" href="#">Action</a>#}
                    {#                            <a class="dropdown-item" href="#">Another action</a>#}
                    {#                            <div class="dropdown-divider"></div>#}
                    {#                            <a class="dropdown-item" href="#">Something else here</a>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
                    {#                    </li>#}
                </ul>
                <ul class="navbar-nav align-right">
                    <li class="navbar-text">
                        Angemeldet als {{ user }}
                    </li>
                    <li>
                        <a class="nav-link" href="{% url "logout" %}">Abmelden</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="p-1 mb-5">
{% endif %}

