{% load widget_tweaks %}
{% include "header.html" %}

<nav aria-label="breadcrumb" class="m-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url "ui_index" %}">Startseite</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Check-Out</li>

    </ol>
</nav>

<h1 class="display-5 m-1">Check-Out</h1>
<div class="container">
    <div class="card mb-2">
        <div class="card-body">
            <i class="fas fa-check-circle fa-3x text-success mr-3 float-left"></i>
            <h3>1. Schritt: Ausleihende Person auswählen</h3>
            <p>
                Ausgegeben wird an {{ process.borrowing_person.name }}
            </p>
        </div>
    </div>


    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <i class="fas fa-check-circle fa-3x text-success mr-3 float-left"></i>
                    <h3>2. Schritt: Objekte scannen oder auswählen</h3>
                </div>
                <div class="col-sm">
                    {% if process.checks.all %}
                        <ul class="list-group">
                            {% for check in process.checks.all %}
                                <li class="list-group-item">
                                    {{ check.item.name }}
                                    {% if check.item.preset %}
                                        ({{ check.item.preset.name }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body">
            <i class="fas fa-check-circle fa-3x text-success mr-3 float-left"></i>
            <h3>3. Schritt: Vorgang bestätigen</h3>
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <i class="fas fa-check-circle fa-5x text-success mr-3 float-left"></i>
        <h1>Der Check-Out wurde erfolgreich durchgeführt.</h1>
        <a href="{% url "ui_loan_form" process.id %}" class="btn btn-primary">
            Formular zum Unterschreiben herunterladen
        </a>
        <a href="{% url "ui_check_out" %}" class="btn btn-primary">
            Neuen Check-Out durchführen
        </a>
        <a href="{% url "ui_index" %}" class="btn btn-secondary">
            Zurück zur Startseite
        </a>
    </div>
</div>

{% include "footer.html" %}