{% load widget_tweaks %}
{% include "header.html" %}

<nav aria-label="breadcrumb" class="m-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url "ui_index" %}">Startseite</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Check-Out</li>

    </ol>
</nav>

<h1 class="display-5 m-1">Check-Out</h1>
<div class="container">

    <div class="card mb-2">
        <div class="card-body">
            <i class="fas fa-check-circle fa-3x text-success mr-3 float-left"></i>
            {#        <a role="button" class="btn btn-danger float-right">Check-Out abbrechen</a>#}
            <h3>1. Schritt: Ausleihende Person auswählen</h3>
            <p>
                Ausgegeben wird an {{ process.borrowing_person.name }}
            </p>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <i class="fas fa-arrow-circle-right fa-3x mr-3 float-left"></i>
                <h2>2. Schritt: Objekte scannen oder auswählen</h2>
                <form class="row" action="" method="post">
                    {% csrf_token %}
                    <div class="col-sm">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="barcode-addon"><i class="fas fa-barcode"></i></span>
                            </div>

                            <input type="text" class="form-control no-check" placeholder="Barcode/ID"
                                   aria-label="Barcode"
                                   aria-describedby="barcode-addon" autofocus name="scan" id="barcode">
                        </div>
                        <small class="text-muted" style="margin-left: 54px;">
                            Barcode einscannen oder ID des Objektes eingeben
                        </small>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-success btn-lg" type="submit">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </form>
                {% if msg %}
                    <p class="alert {% if msg_type == "success" %}alert-success{% elif msg_type == "bad" %}alert-danger{% endif %} mt-3">
                        <i class="fas mr-1 {% if msg_type == "success" %}fa-check-circle{% elif msg_type == "bad" %}fa-exclamation-circle{% endif %}"></i>
                        {{ msg }}
                    </p>
                {% endif %}
                <div class="mt-2 float-right">
                    <form action="" method="post" class="d-inline">
                        {% csrf_token %}
                        {% if process.checks.all %}
                            <button type="submit" class="btn btn-success btn-lg" name="confirm" value="confirm">
                                <i class="fas fa-save mr-1"></i>
                                Scannen beenden
                            </button>
                        {% endif %}
                        <button type="submit" class="btn btn-danger" name="cancel" value="cancel">
                            <i class="far fa-times-circle mr-1"></i>
                            Check-Out abbrechen
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                {% if process.checks.all %}
                    <ul class="list-group">
                        {% for check in process.checks.all %}
                            <li class="list-group-item">
                                {{ check.item.name }}
                                {% if check.item.preset %}
                                    ({{ check.item.preset.name }})
                                {% endif %}
                                <form action="" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete" value="{{ check.id }}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm float-right">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-2">
        <div class="card-body">
            <h3 class="text-muted">3. Schritt: Vorgang bestätigen</h3>
        </div>
    </div>
</div>
{% include "footer.html" %}