{% include "header.html" %}

<nav aria-label="breadcrumb" class="m-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "ui_index" %}">Startseite</a></li>
        <li class="breadcrumb-item active" aria-current="page">Orte</li>
    </ol>
</nav>

<h1 class="display-5 m-1">Orte</h1>

{% include "parts/msg.html" %}

<div class="card mb-2">
    <div class="card-body">
        <a role="button" class="btn btn-success" href="{% url "ui_category_new" %}">Neuen Ort erstellen</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Schranknummer <em class="text-muted">(optional)</em></th>
                <th scope="col" class="table-actions">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <th scope="row">{{ location.id }}</th>
                    <td>{{ location.name }}</td>
                    <td>{{ location.number }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Aktionen">
                            <a role="button" class="btn btn-primary" href="{% url "ui_locations_edit" location.id %}">Bearbeiten</a>
                            <a role="button" class="btn btn-danger delete-button"
                               href="{% url "ui_category_delete" location.id %}">Löschen</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "parts/table_js.html" %}
{% include "footer.html" %}