{% load bootstrap %}
{% include "header.html" %}

<nav aria-label="breadcrumb" class="m-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "ui_index" %}">Startseite</a></li>
        <li class="breadcrumb-item active"><a href="{% url "ui_presets" %}">Presets</a></li>
        {% if mode == "edit" %}
            <li class="breadcrumb-item active" aria-current="page">{{ preset.name }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Neues Preset erstellen</li>
        {% endif %}
    </ol>
</nav>

<h1 class="display-5 m-1">
    {% if mode == "edit" %}
        Preset bearbeiten
    {% else %}
        Neues Preset erstellen
    {% endif %}
</h1>

<div class="card">
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}

            <button type="submit" class="btn btn-success">Speichern</button>
            <a role="button" class="btn btn-danger" href="{% url "ui_presets" %}">Abbrechen</a>
        </form>
    </div>
</div>
{% include "footer.html" %}